/*Common Design*/

.heading {
	background-color: #D65DB1;
	padding: 10px 0;
	text-align: center;
	font-size: 1.5rem;
	color: white;
}

header, nav, footer {
	font-size: 25px;
	color: white;
	background-color: #ff5233;
	text-align: center;
	padding: 20px 0;
	margin-bottom: 10px;
}

h4 {
	background-color: #FFC75F;
	font-size: 25px;
	color: white;
}

.bg-image {
	background-image: url(../images/image2.jpg);
	min-height: 500px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

.p {
	font-weight: 500;
	font-size: 20px;
	color: white;
	background-color: #FF6F91;
	padding: 30px;
}